.form {  
    margin-bottom: 100px;
}

select#js-search-term.dropdown {
    /* position: absolute; */
    /* margin-top: 300px; */
    /* height: 400px; */
    margin: 1rem 0rem;
    height: 50vh;
    display: block;
}

#js-max-results {
    display: inline-block;
    width: 5vw;
}

.submit {
    display: block;
    margin: 1rem 0rem;
    padding: 10px;
    
}